{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Gebuchte Räume{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for booking in booked_rooms %}
    <h3>Booking-ID: {{ booking['booking_id'] }}</h3>
			<p>Username: {{ booking['username'] }}</p>
			<p>Raumname: {{ booking['name'] }}</p>
			<p>Checkin: {{ booking['b_checkin'] }}</p>
			<p>Checkout: {{ booking['b_checkout'] }}</p>
			<a href="{{ url_for('admin_actions.delete_booking', 
			booking_id=booking['booking_id']) }}">
			<i class="far fa-trash-alt"></i></a><br/><br/>	
  {% endfor %}
</form>
{% endblock %}