{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Registrierte Nutzer{% endblock %}</h1>
{% endblock %}

{% block content %}

		{% for user in user %}
			<h3>Nutzer: {{ user['username'] }}</h3>
			<p>
				<span>Email-Adresse: {{ user['mail'] }}</span><br/>
			</p>
			<a href="{{ url_for('admin_actions.edit_user',
					user_id=user['id']) }}"><i class="far fa-edit"></i></a>
			<a href="{{ url_for('admin_actions.delete_user',
					user_id=user['id']) }}"><i class="far fa-trash-alt"></i></a>
					<br/><br/>	
		{% endfor %}

	<form method="post">
		<h2>Neuen User anlegen</h2>
	    <label for="username">Username</label><br/>
	    <input name="username" id="username"
	    		value="{{ request.form['username'] }}" required><br/>

	    <label for="mail">Email-Adresse</label><br/>
	    <input name="mail" id="mail"
	    		value="{{ request.form['mail'] }}" required><br/>

	    <label for="password">Passwort</label><br/>
	    <input name="password" id="password"
	    		value="{{ request.form['password'] }}" required><br/><br/>

	    <input type="submit" value="Nutzer anlegen">
	 </form>

{% endblock %}

		